
.card-body h1{
    font-weight: bold;
    font-size: 1.40625rem;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    border-bottom: solid 3px #111111;
}

.card-body h2{
    font-weight: bold;
    font-size: 1.40625rem;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    border-bottom: solid 3px #111111;
}

.card-body h3{
    font-weight: bold;
    font-size: 1.40625rem;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    border-bottom: solid 3px #111111;
}


.card-body h4{
    font-weight: bold;
    font-size: 1.40625rem;
    border-bottom: solid 3px #111111;
}

.card-title h1{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
    border-style: none;
}

.card-title h4{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
    border-style: none;
    border-style: none;
}

.card-body img{
    width:100%;
    max-width: 100%;
    height: auto;
}

.card-body tbody tr:nth-of-type(odd) {
        background-color: #ecf0f1;  
}

.card-body table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
.card-body th,td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
.card-body thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
.card-body tbody + tbody {
    border-top: 2px solid #dee2e6;
  }

