body {
    font-size: 12px;
    color: #696969;
}
h1 {
    font-size: 36px;
    border-bottom: 1px solid #1e90ff;
    padding: 5px 0 5px 0;
    margin-bottom: 25px;
}
.form-group input[name="post_date"] {
    width: 200px;
}